<div class="login-container">
  <div class="login-section">
    <button (click)="goToLogin()" mat-icon-button aria-label="return button" class="return-btn">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h2>Crea tu cuenta en <span style="font-weight: 600; color: #ff7f61;">FitnessApp</span></h2>
    <form class="form" [formGroup]="registerForm">
      <div class="inputs-container">
        <mat-form-field class="input-stl" floatLabel="never">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="input-stl" floatLabel="never">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="input-stl" floatLabel="never">
          <mat-label>Numero de documento</mat-label>
          <input matInput formControlName="document_id">
        </mat-form-field>
        <mat-form-field class="input-stl" floatLabel="never">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <mat-form-field class="input-stl" floatLabel="never">
          <mat-label>Confirmar contraseña</mat-label>
          <input type="password" matInput formControlName="c_password">
        </mat-form-field>
      </div>
      <br>
      <button class="register-btn" [disabled]="registerForm.invalid" mat-raised-button color="primary" (click)="register()">Registrarme</button>
    </form>
    <div>
</div>